:root {
    --backgroundDefault: rgb(255, 255, 255);
    --colorDefalt: #317a83;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: raleway, sans-serif;
}

.bodyMain{
    background-color: var(--backgroundDefault);
    display: flex;
    flex-direction: column;
}

.bodyMain > header{
    height: 10vh;
    background-color: var(--backgroundDefault);
    position: fixed;
    width: 100%;
}

.bodyMain > section{
    height: 90vh;
}

.sectionPageContent{
    display: flex;
}

#pageContent1{
    background-color: #ededed;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--colorDefalt);
    font-size: 22px;
}

#pageContent1 > #headerPage2{
    font-weight: 400;
}


#pageContent2{
    background-color: var(--backgroundDefault);;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: baseline;
    padding: 50px;

}

#pageContent2 > .content{
    width: 50%;
    padding: 30px;
    color: #666;
}

#pageContent2 > .content > header{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

#pageContent2 >  .content > article{
    padding-top: 25px;
    text-align: center;
    font-weight: 400;
}

.headerContent{
    display: flex;
}

.headerContent > aside{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center
}

.headerContent > nav {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;

}

.headerContent > nav > div > a {
    color: var(--colorDefalt) !important;
    text-decoration: none;
}

.sectionPageContendSecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #286356;
}

.sectionPageContendSecond  h1{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.sectionPageContendSecond h1 span{
    font-weight: 300;
}

.sectionPageContendSecond > article{
    padding: 20px;
    width: 70%;
}

.sectionPageContendSecond > article > p{

    color: white;
    margin: 20px;
    font-size: 16px;
    text-align: justify;
    line-height: 22.4px;

}

.sectionPageContendSecond > footer > button{
    background-color: #317a83;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 30px;


}

.sectionPageContendSecond > footer > button:hover{
    background-color: #163d41;
    
}


